[Desktop Entry]
Name=Simple Terminal
GenericName=Terminal
Comment=Standard terminal emulator for the X window system
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=/usr/share/st/st.svg
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
